<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Your Cart</h1>
            <hr class="my-4">
            <p>Continue shopping in the store</p>
            <a class="btn btn-primary btn-lg" routerLink="/store" role="button">Store</a>
          </div>
    </div>
    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">AMD RX 6800 XT</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">New AMD graphics card</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Cooler Master MasterLuquid Water Cooler</h5>
                  <small class="text-muted">2 days ago</small>
                </div>
                <p class="mb-1">RGB Water Cooler</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              </a>            
        </div>
    </div>
</div>